body {
    font-family: sans-serif;
    margin: 20px;
    padding: 20px;
    background: #f9f9f9;
    color: #333;
}

form input, textarea {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 300px;
}

button {
    padding: 10px 20px;
}